__pycache__/
*.py[cod]
.venv/
.env
build/
dist/
*.spec

raw_clips/*
!raw_clips/.gitkeep

processed_clips/*
!processed_clips/.gitkeep

final_clips/*
!final_clips/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep
